body {
  background: #222a35;
  color: whitesmoke;
}

h1 {
  text-align: center;
  position: relative;
  top: 10%;
  font-family: Monaco, monospace;
  display: block;
  font-size: 2em;
  font-weight: bold;
  line-height: 30px;
}

button {
  border: 2px white solid;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 10px 10px 10px 10px;
  position: relative;
  left: 50%;
  margin: 5px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 10px 10px;
  cursor: pointer;
  display: inline-block;
  align-items: center;
  transition: 0.3;
}

.discordFormButtons{
  position: relative;
  top: 35%;
  left: 39%;
  padding: 25px 10px 20px;
  width: 250px;
  height: 100px;
  background: #222a35;
  overflow: auto;
}

button:hover{
  background-color: #27af49;
}

#connectBotServer{
  background-color: #27af49;
  border: none;
  font-size: 10px;
  margin-bottom: 25px;
}

#connectBotServer:hover {
  opacity: 0.6;
}

#backToGuilds{
  background-color: #27af49;
  border: none;
  padding: 5px 5px;
  font-size: 10px;
}

#backToGuilds:hover{
  opacity: 0.6;
}

#checkmarkLogo{
  background-image: url(../images/checkmark.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 65px;
  height: 65px;
  position: relative;
  left: 37%;
}

/* width of scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track color for the scrollbar */
::-webkit-scrollbar-track {
  background: #222a35;
}

/* Handle color for the scrollbar */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 0.6;
}

.trelloCheckbox{
  position: relative;
  left: 46%;
  width: 150px;

}
.container{
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Monaco, monospace;
}

.githubCheckbox{
  position: relative;
  left: 46%;
  width: 150px;

}
.githubLabel{
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Monaco, monospace;
}

#continueOverview{
  background-color: #27af49;
  position: absolute;
  top: 90%;
  border: none;
  font-size: 20px;
}

#continueOverview:hover {
  opacity: 0.6;
}