body {
  margin: 0;
  padding: 0;
  font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
  color: #000000;
  background: #12549296;
}

.loginWindow {
  position: relative;
  margin: 150px auto;
  padding: 20px 20px 20px;
  width: 500px;
  height: 400px;
  background: white;
  border-radius: 3px;
}

.discordButton {
  background-color: #5865f2;
  border: none;
  color: white;
  padding: 25px 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}

.gitHubButton {
  background-color: #171515;
  border: none;
  color: white;
  padding: 25px 205px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}

.trelloButton {
  background-color: #0079bf;
  border: none;
  color: white;
  padding: 25px 215px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}
