body {
  background: #222a35;
}

.timeIntervalWindow {
  position: relative;
  margin: 20px auto;
  padding: 20px 20px 20px;
  width: 1050px;
  height: 40px;
  background: #222a35;
  border-radius: 15px;
}

.timeIntervalWindow h1 {
  margin: -20px -20px 20px;
  line-height: 95px;
  font-size: 35px;
  color: rgb(255, 255, 255);
  text-align: left;
  background: #222a35;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

input{
  border-radius: 10px 10px 10px 10px;
  border: none;
  position: absolute;
  margin: 0;
  top: 60%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 6px 10px;
  display: inline-block;
  cursor: pointer;
}

.timeInputStart {
  left: 48%;
}

.timeInputEnd {
  left: 69%;
}

.submitTimeInterval {
  border-radius: 10px 10px 10px 10px;
  left: 83%;
  padding: 10px 10px 10px;
  height: 32px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #27af49;
  color: white;
  transition: 0.3s;
}

.submitTimeInterval:hover{
  background-color: #27af49;
  color: white;
  opacity: 0.6;
}

.overviewWindow {
  position: relative;
  margin: 35px auto;
  left: -80px;
  padding: 20px 20px 20px;
  width: 900px;
  height: 350px;
  background: #ffffff;
  border-radius: 15px;
}

button {
  border-radius: 10px 10px 10px 10px;
  border: 3px #27af49 solid;
  position: absolute;
  margin: 0;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 30px 40px;
  left: 113%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
}

.discordToggle {
  background-color: #7289da;
  top: 22%;
  background-image: url(../images/discord_mini.png);
  background-size: 63px;
}

.githubToggle {
  background-color: #171515;
  top: 50%;
  background-image: url(../images/github_mini.png);
  background-size: 48px;
}

.trelloToggle {
  background-color: #0079bf;
  top: 78%;
  background-image: url(../images/trello_mini.png);
  background-size: 48px;
}

button:hover{
  border: 3px #27af49 solid;
}