body {
  background: #222a35;
}

.loginWindow {
  position: relative;
  margin: 50px auto;
  padding: 20px 20px 20px;
  width: 400px;
  height: 400px;
  background: white;
  border-radius: 15px;
  line-height: 1px;
  text-align: center;
  font-size: 20px;
  font-family: Monaco, monospace;
}

button{
  border: none;
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  margin: 0;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: 200px;
  padding: 35px 160px;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
}

.discordButton {
  background-color: #7289da;
  top: 30%;
  background-image: url(../images/discord_logo.png);
}

.gitHubButton {
  background-color: #171515;
  top: 50%;
  background-image: url(../images/github_logo.png);
}

.trelloButton {
  background-color: #0079bf;
  top: 70%;
  background-image: url(../images/trello_logo.png);
}

.continueButton {
  background-color: #27af49;
  top: 90%;
  padding: 15px 40px;
  color: white;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

button:hover{
  opacity: 0.6;
}