body {
  background: #222a35;
}

.loginWindow {
  position: relative;
  margin: 60px auto;
  padding: 20px 20px 20px;
  width: 400px;
  height: 400px;
  background: white;
  border-radius: 15px;
}

.discordButton {
  background-color: #7289da;
  border: none;
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  margin: 0;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 35px 160px;
  display: inline-block;
  background-image: url(/images/discord_logo.png);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: center;
  cursor: pointer;
}

.gitHubButton {
  background-color: #171515;
  border: none;
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 35px 160px;
  display: inline-block;
  background-image: url(/images/github_logo.png);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: center;
  cursor: pointer;
}

.trelloButton {
  background-color: #0079bf;
  border-radius: 10px 10px 10px 10px;
  border: none;
  position: absolute;
  margin: 0;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 35px 160px;
  display: inline-block;
  background-image: url(/images/trello_logo.png);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: center;
  cursor: pointer;
}

.continueButton {
  background-color: #27af49;
  border-radius: 10px 10px 10px 10px;
  border: none;
  position: absolute;
  margin: 0;
  top: 90%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 15px 40px;
  display: inline-block;
  color: white;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
}
